  
  /*My own css styles*/

  a {
    text-decoration: none!important;
  }

  .top-buffer { margin-top:50px!important; }

  .image_off, .heart:hover .image_on{
    display:none!important;
  }

  .image_on, .heart:hover .image_off{
    display:block!important;
  }

  .heart img{
    width: 25px;
    height: 25px;
  }

  img .img-front{
    max-width: 300px!important;
    max-height: 300px!important;
  }

  .text-justify {
    text-align: justify!important;
  }

  .song-hover:hover {
    background-color: #F5F5F5!important;
  }

  input{
    max-width: 900px!important;
    width: 400px!important;
  }

  .image{
    max-width: 500px!important;
    max-height: 500px!important;
  }